<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Table</title>
    <link rel="stylesheet" th:href="grades.css">
</head>

<body>
    <div class= "container">
    <h2>Staff List</h2>
    <table id="table">
        <tr>
            <th>Name</th>
            <th>Age</th>
            <th>Role</th>
        </tr>
        <tr th:each="employee:${employees}">

            <td th:text="${employee.name}"></td>
            <td th:text="${employee.age}"></td>
            <td th:text="${employee.role}"></td>
        </tr>
    </table>
</div>
</body>

</html>